.about-header {
  position:relative;
}
.about-header .cover {
  width:100%;
  position:relative;
  max-height:500px;
  overflow:hidden;
  z-index: 1;
}
.about-header .cover img {
  width:100%;
}
.btn-primary {
    background: #03B8CF;
    color: #fff;
    border: 2px solid #03B8CF;
}
.btn.btn-lg {
    padding: 18px 36px !important;
}
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}
.category {
  text-align: center;
}
.category span{
  display:inline-block;
  text-align: center;
  font-size:24px;
  margin:10px;

}
.common_block_border {
  margin-top:30px;
  font-size:1.2em;
}
.common_block_border .feedback {
  text-align:center;
  margin:15px auto;
}
.common_block_border .feedback img{
  cursor:pointer;
}
.feedback-modal p{
  font-size:1.2em;
  color:#666;
}

/*分类列表 category*/
.list-box {
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.1);
  animation-fill-mode: none;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}
.list-box .info {
  padding:30px;
}
.list-box .info p {

}
.list-box .info p.time {
  color:#000;
  font-size:12px;
}
