            <if condition="check_auth('Articles/Index/edit',$info['uid'])&&($info['id'])">
                <a title="编辑" href="{:U('Articles/index/edit',array('id'=>$info['id']))}" class="btn btn-info btn-block"><i class="icon-edit"> 编辑这篇文章</i></a>
            </if>
            <if condition="$sub_menu['right'] neq null">
                <volist name="sub_menu.right" id="menu">
                    <a href="{$menu.href}" class="btn btn-info btn-block {$menu.a_class}">{$menu.title}</a>
                </volist>
            </if>
            <div style="margin-bottom:10px"></div>
            <div class="right_block">
                
                <ul class="nav nav-secondary nav-stacked public-bg-w" id="nav-list">
                	<li class="nav-heading">文章分类 Category</li>
                        <li id="tab_category_0" class="">
		                    <a href="{:U($MODULE_INFO['entry'])}" >
			                    <empty name="menu_list.first.title" value="">
			                        {$brand.title}
			                        <else/>
			                        {$menu_list.first.title}
			                    </empty>
		                    	最新文章
		                    </a>
                    	</li>
                        <volist name="sub_menu.left" id="menu">
                            <if condition="$menu['children']">
                                <!--二级菜单-->
                                <li id="tab_{$menu.tab}" class="dropdown {$class} nav-parent">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <neq name="menu.icon" value=""><i class="icon-{$menu.icon}"></i>
                                        </neq>
                                        {$menu.title} <i class="icon-chevron-right nav-parent-fold-icon"></i>
                                        <ul class="dropdown-menu" role="menu">
                                            <volist name="menu.children" id="child">
                                                <li><a href="{$child.href}" class="{$child.class}">
                                                    <neq name="child.icon" value=""><i
                                                            class="glyphicon glyphicon-{$child.icon}"></i></neq>
                                                    {$child.title}</a></li>
                                            </volist>
                                        </ul>
                                </li>
                                <else/>
                                <!--一级菜单-->
                                <li id="tab_{$menu.tab}" class="{$menu.li_class}">
                                	<a href="{$menu.href}" class="{$menu.a_class}">
                                    <neq name="menu.icon" value=""><i class="glyphicon glyphicon-{$menu.icon}"></i>
                                    </neq>
                                    {$menu.title}
                                    </a>
                                </li>
                            </if>
                        </volist>
                    </ul>
            </div>
<script>
    $('#nav-list #tab_category_{$category}').addClass('active');
</script>