<!-- 管理员用户组新增和编辑页面 -->
<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>{:L("_SUBJECT_CONFIGURATION_")}</h2>
    </div>
    <div class="with-padding clearfix">
        <div class="pull-left"><a href="{:U('Admin/Theme/add')}" class="btn">{:L("_INSTALL_A_NEW_THEME_")}</a></div>
        <div class="pull-right">
            <a href="{:U('Theme/tpls',array_merge($_GET,array('refresh'=>2)))}" class="btn btn-success"><i
                    class="icon-level-up"></i> {:L("_CHECK_FOR_UPDATES_IMMEDIATELY_")}</a>

        </div>
    </div>
    <div class="with-padding">
        <div class="cards plugin-list">
            <div class="col-xs-3">
                <div class="card">
                    <div class="media-wrapper">
                        <img src="__ROOT__/Public/images/preview.jpg" >
                    </div>
                    <div class="card-heading">
                        <span class="pull-right">
                            <span class="label label-success" title={:L("_THEME_VERSION_WITH_DOUBLE_")}>2.0.0</span>
                        </span>
                        <a href="{:U('Admin/Theme/lookTheme',array('theme'=>'default'))}" target="_blank" title={:L("_CHECK_THE_THEME_WITH_DOUBLE_")}>
                            <strong>MUUCMF{:L("_SYSTEM_DEFAULT_THEME_")}</strong>
                        </a>
                    </div>
                    <div class="card-content text-muted" style="height: 64px;">
                       {:L("_BUILT_IN_MUUCMF_")} {:L("_IN_THE_SYSTEM_IT_IS_THE_BASIS_OF_OTHER_TOPICS_")}
                    </div>
                    <div class="card-actions" style="margin-top: 30px;">
                        <div class="text-mute">
                           {:L("_DEVELOPER_")}{:L("_COLON_")}{:L("_HOOMUU_WANTS_TO_DAY_MDT_INFOTECH_LTD_")}
                        </div>
                    </div>
                    <div class="card-actions">
                        <div class="btn-group">
                            <eq name="now_theme" value="default">
                                <span style="padding: 4px 12px;display: inline-block;font-size: 16px;color: #A5A5A5;">{:L("_BASIC_THEME_")}</span>
                                <else/>
                                <a class="btn btn-primary" data-role="use_this" data-value="default">{:L("_USE_ONLY_THE_BASIC_THEMES_")}</a>
                            </eq>
                        </div>
                    </div>
                </div>
            </div>
            <volist name="tplList" id="info">
                <div class="col-xs-3">
                    <div class="card">
                        <div class="media-wrapper">
                            <a data-role="use_this" data-value="{$info.file_name}">
                                <img src="{$info.path}/preview.jpg">
                            </a>
                        </div>
                        <div class="card-heading">
                        <span class="pull-right">
                            <span class="label label-success" title="{:L("_THEME_VERSION_WITH_DOUBLE_")}">{$info.version} </span>
                            <empty name="info.update_list">
                                <else/>
                                <a style="text-decoration: none" href="javascript:void(0)" data-role="update_btn"
                                   data-type="ajax"
                                   data-url="{:U('Cloud/getVersionList',array('token'=>$info['token']))}"
                                   data-toggle="modal" data-title={:L("_A_NEW_VERSION_CAN_BE_UPDATED_WITH_DOUBLE_")}><span
                                        class=" label label-success ">{:L("_THERE_IS_A_NEW_VERSION_")}{$info.update_list.0.title}</span></a>
                                <script>$(function () {
                                    $('[data-role="update_btn"]').tooltip('show');
                                });
                                </script>
                            </empty>
                        </span>
                            <a href="{:U('Admin/Theme/lookTheme',array('theme'=>$info['file_name']))}" target="_blank" title="{:L("_CHECK_THE_THEME_WITH_DOUBLE_")}">
                                <strong>{$info.title}</strong>
                            </a>
                        </div>
                        <div class="card-content text-muted" style="height: 64px;">
                            {$info.summary}
                        </div>
                        <div class="card-actions">
                            <div class="text-mute">
                               {:L("_DEVELOPER_")}{:L("_COLON_")}{$info.developer}
                            </div>
                        </div>
                        <div class="card-actions">
                            <div class="text-mute">
                               {:L("_TEMPLATE_FILE_NAME_")}{:L("_COLON_")}{$info.file_name}
                            </div>
                        </div>
                        <div class="card-actions">
                            <div class="btn-group">

                                <eq name="info.file_name" value="$now_theme">
                                    <span class="btn">
                                     {:L("_IN_USE_")}
                                    </span>
                                <else/>
                                    <a class="btn btn-warning" data-role="use_this"
                                       data-item="pc" data-value="{$info.file_name}">{:L("_PC_USE_")}</a>
                                </eq>

                                <eq name="info.file_name" value="$now_mtheme">
                                    <span class="btn">
                                     {:L("_IN_USE_")}
                                    </span>
                                <else/>
                                    <a class="btn btn-warning" data-role="use_this"
                                       data-item="mobile" data-value="{$info.file_name}">{:L("_MOBILE_USE_")}</a>
                                </eq>
                                    
                                    <a class="btn btn-info"
                                       href="{:U('Admin/Theme/packageDownload',array('theme'=>$info['file_name']))}">
                                       {:L("_PACKAGED_DOWNLOAD_")}
                                    </a>
                                    <a class="btn btn-danger" href="{:U('Admin/Theme/delete',array('theme'=>$info['file_name']))}">
                                       {:L("_UNINSTALL_DELETE_")}
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>

        </div>
        <!-- 数据列表 -->
        <!-- 分页 -->
        <div class="with-padding">
            <div class="pager">
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(function () {
            $('[data-role="use_this"]').click(function () {
                var theme = $(this).attr('data-value');
                var item = $(this).attr('data-item');
                $.post(U('Admin/Theme/setTheme'), {
                    theme: theme,
                    item:item
                }, function (msg) {
                    if (msg.status) {
                        toast.success(msg.info);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        handleAjax(msg);
                    }
                }, 'json');
            });
        });
    </script>
</block>
