.main-wrapper {
  padding-top:58px;
}
#main-container {
  margin-top:10px;
}
/*顶部导航*/
nav.navbar.bootsnav {
  margin-bottom: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background-color: #fff;
  border: none;
  z-index: 999;
}
nav.navbar.bootsnav.navbar-fixed {
  position: fixed;
  display: block;
  width: 100%;
}
nav.navbar.bootsnav.no-background {
  background-color: transparent;
  border: none;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-header {
    float: none;
    display: block;
    text-align: center;
    padding-right: 30px;
  }
}
nav.navbar.bootsnav .navbar-brand {
    float: left;
    padding:0;
    height:58px;
    line-height: 58px;
}
nav.navbar.bootsnav .navbar-brand img{
    width:auto;
    display: inline-block;
  }
@media (max-width: 992px){
  nav.navbar.bootsnav .navbar-brand {
    padding:0;
    height:58px;
    line-height: 58px;
  }

  nav.navbar.bootsnav .navbar-brand img{
    width:120px;
    display: inline-block;
  }
}
nav.navbar.bootsnav .navbar-toggle {
    background: rgba(0,0,0,0.0)!important;
    top: 0; 
}
nav.navbar.bootsnav .navbar-toggle i {
    font-size:22px;
    color:#666;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-toggle {
    display: inline-block;
    float: left;
    margin-right: -200px;
    margin-top: 15px;
  }
}
nav.bootsnav li.dropdown ul.dropdown-menu {
    border:0!important;
    border-top:5px solid #03B8CF!important;
}
@media (max-width: 992px){
  nav.bootsnav li.dropdown ul.dropdown-menu {
      border:0!important;
  }
 nav.bootsnav .navbar-collapse li.dropdown a i{
      float:right;
  }
}
@media (max-width: 992px){
  nav.navbar.bootsnav .navbar-nav {
      float: none !important;
      margin: 0px -10px;
  }
}

@media (max-width: 992px) {
  .navbar-nav > li {
     float: none;
  }
}

.navbar-toggle {
  position: relative;
  float: left;
  background-color: transparent;
  border: 0;
}
@media (min-width: 992px) {
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 56px;
    color:#666;
  }
}
nav.navbar.bootsnav .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ff9900;
  background-color: #fff;
}
nav.navbar.bootsnav .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ff9900;
  background-color: #fff;
}

@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse.collapse.in {
  display: block !important;
}
}
@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse.collapse {
  display: none !important;
}
}
@media (max-width: 992px) {
  nav.navbar.bootsnav.no-full .navbar-collapse {
    max-height: 350px;
    overflow-y: auto !important;
    overflow-x:hidden;
  }
}
@media (max-width: 992px) {
nav.navbar.bootsnav .navbar-collapse {
  border: none;
  margin-bottom: 0;
}
}
@media (min-width: 992px) {
  .navbar-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .attr-nav {
    right: 30px;
  }
}
@media (max-width: 992px) {
  .attr-nav {
    position: absolute;
    top:0;
    right: 15px;
  }
}
.attr-nav {
  float: right;
  display: inline-block;
  margin-left: 13px;
}
.attr-nav > ul {
  padding: 0;
  margin: 0 0 -7px 0;
  list-style: none;
  display: inline-block;
}
.attr-nav > ul > li {
  float: left;
  display: block;
}
.attr-nav > ul > li > a {
  color: #6f6f6f;
  display: block;
  padding: 0px 10px;
  position: relative;
  line-height: 58px;
}

/*顶部导航end*/

/*footer通用*/
.footer-bar {background:#252c34;margin-top:20px;padding:35px 0;}
.footer-bar div {color:#fff;}
.footer-bar a {color:#999;}