
.fix-btn-group{
    position: fixed;
    left: 0;bottom: 4.5rem;
    z-index: 50;
    width: 100%;
    color: white;
}
.fix-btn-group .group-left{
    width: 65%;
    float: left;
    padding: 1.2rem;
    background: rgba(0,0,0,.8);
}
.fix-btn-group .group-right{
    width: 35%;
    float: right;
    text-align: center;
    padding: 1.2rem 0;
}
.cart-main .cart-thead {
    display: inline-block;
    display: block;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-top: 0;
}
.cart-main .cart-thead .column {
    float: left;
}
.cart-main .cart-thead .t-checkbox {
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 60px;
    padding-left: 11px;
}
.cart-checkbox {
    position: relative;
    z-index: 3;
    float: left;
    margin-right: 5px;
}
.cart-checkbox label {
    display: none;
}
.cart-main .cart-thead .t-goods {
    width: 408px;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-props {
    width: 140px;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-quantity {
    width: 150px;
    text-align: center;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-sum {
    width: 120px;
    padding-right: 40px;
    text-align: right;
    height: 32px;
    padding: 0 20px;
}
.cart-main .cart-thead .t-action {
    width: 75px;
    height: 32px;
    padding: 0 20px;
}

.good-section {
    border:1px solid #eee;
    border-top:3px solid #eee;
    margin-bottom:10px;
    padding: 15px 0 10px;
    background:#fff;
}
.cart-tbody .good-section .good-left-check{
    float:left;
    width:60px;
    height: 5.3334rem;
    padding: 0.5rem;
}
.cart-tbody .good-section .good-info {
    margin-left:60px;
}
.cart-tbody .good-section .good-info a:hover {
    color:#f60;
}


.cart-tbody .good-section .good-info .good-section-pic {
    float:left;
    width:100px;
    height:100px;
}
.cart-tbody .good-section .good-info .good-section-pic img{
    border:1px solid #eee;
}
.cart-tbody .good-section .good-info .good-section-title {
    float: left;
    width: 308px;
    padding: 0 20px;
}
.cart-tbody .good-section .good-info .good-section-option {
    float: left;
    width: 140px;
    height:100px;
    padding: 0 20px;
}
.cart-tbody .good-section .good-info .good-section-tprice {
    float: left;
    width: 120px;
    padding: 0 20px;
}

.cart-tbody .good-section .good-info .good-section-quantity {
    float: left;
    width: 150px;
    padding: 0 20px;
}

.cart-tbody .good-section .good-info .good-section-tsum {
    float: left;
    width: 120px;
    padding: 0 20px;
}
.cart-tbody .good-section .good-info .good-section-action {
    float: left;
    width: 75px;
    padding: 0 20px;
}
.cart-tbody .good-section .good-info .good-section-action .del-good{
    cursor:pointer;
}
/**/
.cart-article>.good-section:last-child{
    border-bottom: thin solid #e2e2e2 ;
}
.circle-checkbox{
    vertical-align: middle;
    display: inline-block;
    width: 1.8334rem;
    height: 1.8334rem;
    line-height: 1.6rem;
    border-radius: 50%;
    text-align: center;
}
.circle-checkbox>img{
    margin: 0;
    vertical-align: middle;
    width: 0.8rem;
}
.empty-cart-p{
    text-align: center;
    padding: 4rem 0 2rem;
}


/*分割线*/
.cut-off-rule-p{
    text-align: center;
}
.cut-off-rule-p:before,.cut-off-rule-p:after{
    content: '　';
    width: 30%;height: 1px;
    background-color: #d1d1d1;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.cut-off-rule-p:before{ margin-right: 1rem }
.cut-off-rule-p:after{ margin-left: 1rem }
/*guess*/
.guess-title{
    margin-top: 0.834rem;
}
.guess-article{
    padding: 0.834rem;
}
/*active*/
.good-section:not(.checked-section) .circle-checkbox.active-bg{
    border: thin solid #eee;
    background: #eee;
}
.good-section.checked-section .circle-checkbox.active-bg{
    border: thin solid #ff6600;
    background: #ff6600;
}

/**/
.buy-confirm-box {
    border:1px solid #eee;
}
.buy-confirm-box .editing-cart {
    float:left;
    line-height: 50px;
    padding:0 20px;
}
.buy-confirm-box .total-price {
    float:right;
    line-height: 50px;
    padding:0 20px;
    color:#f60;
    font-size:16px;
}
.buy-confirm-box .buyImmediately {
    float:right;
    background:#f60;
    color:#fff;
    padding:0 20px;
    height:50px;
    text-align:center;
    line-height: 50px;
    font-size:18px;
    cursor:pointer;
}
.buy-confirm-box .buyImmediately .normal-text {
    font-size:14px;
}