.linear-section {
    border:1px solid #eee;
    background:#fff;
    padding:10px;
    margin-bottom: 10px;
}
.address-section {
    

}
.address-section .address-info {
    margin:5px;
}
.address-section .address-info.selected {
    border: 2px solid #e4393c;
    line-height: 38px;
}
.address-section .address-info .title{
    position: relative;
    display: block;
    width:150px;
    height:40px;
    float:left;
    border: 1px solid #eee;
    line-height: 38px;
    text-align: center;
    cursor:pointer;
}
.address-section .address-info .title.selected {
    border: 2px solid #e4393c;
    line-height: 38px;
}
.address-section .address-info .title i {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    right: 0px;
    bottom: 0px;
    background: url(../images/sys_item_selected.gif) no-repeat right bottom;
    z-index: 99;
    display: none;
}
.address-section .address-info .title.selected i {
    display:block;
}
.address-section .address-info .info{
    display: block;
    height:40px;
    line-height: 40px;
    margin-left:160px;
}
.pay-section .linear-input {
    position:relative;
    display: block;
    float:left;
    width:120px;
    height:42px;
    line-height: 40px;
    text-align: center;
    border:1px solid #eee;
    margin:5px;
    cursor:pointer;
}
.pay-section .linear-input.selected {
    border: 2px solid #e4393c;
    line-height: 38px;
}
.pay-section .linear-input i {
    position: absolute;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    right: 0px;
    bottom: 0px;
    background: url(../images/sys_item_selected.gif) no-repeat right bottom;
    z-index: 99;
    display: none;
}
.pay-section .linear-input.selected i {
    display:block;
}
.good-section{
    position: relative;
    min-height: 7.1rem;
}
.good-section-left{
    float:left;
    width:100px;
}
.good-section-img{
    width: 100px;
    height: 100px;
}
.good-section-right{
    padding:0.834rem;
    margin-left: 100px;
}
.good-section-price{
    float: right;
}
.good-status-text{
    float: left;
}