.container-fixed {
	position:relative;
    width: 1260px !important;
}
.common_box {
	padding:5px;
	background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    border-radius: 2px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.common_box h3 {
	margin:10px auto;
}
.wshop_topic {
  background:#607D8B;
  position:relative;
  margin-top:38px;
}
.wshop_topic .menu {
	position:absolute;
	top:-38px;
	left:0;
	background:rgba(255,255,255,0.6);
	margin-left:203px;
}
.wshop_topic .wshop_my {
	position:absolute;
	top:-38px;
	right:0;
	background:rgba(255,255,255,0.6);
}
.wshop_topic .pic {
	color:#fff;
	text-align: center;
	margin:120px auto;
	font-size:2em;
}
.wshop_cats_box {
	position:absolute;
	top:-38px;
	left:0;
	background:rgba(255,255,255,0.6);
}

.all-cats-list{position:relative;width:203px;background:#FAFAFA;}
.all-cats-list .item-head {
	height:38px;
	font-weight:bold;
	padding:10px;
}
.all-cats-list .item{border-top:1px solid #FFFFFF;}
.all-cats-list .item h3{font-size:14px;font-weight:normal;width:199px;overflow:hidden;margin:0;padding:0;}
.all-cats-list .hover h3{position:relative;z-index:13;}
.all-cats-list .item h3 a{color:#000;text-decoration:none;display:block;line-height: 32px;padding:5px 10px;}
.all-cats-list .item h3 a:hover{font-weight:bold;color:#E4393C;}


.all-cats-list .item-list{
	display:none;
	position:absolute;
	width:705px;
	min-height:200px;
	_height:200px;
	background:#FFF;
	left:198px;
	box-shadow:0px 0px 10px #DDDDDD;
	top:3px;
	z-index:10;
}
.all-cats-list .item-list .close{
	position:absolute;
	width:26px;
	height:26px;
	color:#FFFFFF;
	cursor:pointer;
	top:-1px;
	right:-26px;
	font-size:20px;
	line-height:20px;
	text-align:center;
	font-family:"Microsoft Yahei";
	background:rgba(0, 0, 0, 0.6);
	background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');
}

.item-list .subitem{float:left;width:477px;padding:0px 4px 0px 8px;}
.item-list .subitem dl{border-top:1px solid #EEE;padding:6px 0px;overflow:hidden;zoom:1;}
.item-list .subitem .fore1{border-top:none;}
.item-list .subitem dt{float:left;width:54px;line-height:22px;text-align:right;padding:3px 6px 0px 0px;font-weight:700;color:#E4393C;}
.item-list .subitem dt a{color:#E4393C;text-decoration:underline;}
.item-list .subitem dd{float:left;width:415px;padding:3px 0px 0px;overflow:hidden;}
.item-list .subitem dd em{float:left;height:14px;line-height:14px;padding:0px 8px;margin-top:5px;border-left:1px solid #CCC;}
.item-list .subitem dd em a, .item-list .cat-right dd a{color:#666;text-decoration:none;}
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover{font-weight:normal;text-decoration:underline;}
.item-list .cat-right{float:right;width:210px;}
.item-list .cat-right dl{width:194px;padding:6px 8px;}
.item-list .cat-right dd{padding-top:6px;line-height:22px;overflow:hidden;padding:3px 0px 0px;}
.item-list .cat-right dt{padding:3px 6px 0px 0px;font-weight:700;color:#E4393C; }
.item-list .cat-right dd a:hover{color:#666;}


.wshop_cats_list {
	position:absolute;
	left:0;
	top:0;
	background:rgba(255,255,255,0.5);
	width:220px;
	height:360px;
}
