

        <div class="recharge_form_box">
        <form class="" role="form" action="__SELF__" method="post">
	        <div class="expand_common_box clearfix">
                <div class="col-xs-3">
                    <div class="expand_icon">
                        <img alt="{$result.title|text}" src="{$result.icon|getThumbImageById=200,200}">
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="tit" data-id="{$result.id}" data-title="{$result.title}" data-body="{$result.description}">
                    	<input type="hidden" name="expand_id" value="{$result.id}"> 
                        <h2>{$result.title}</h2>

                        <p>{$result.description}</p>
                    </div>
                </div>
		    </div>
	        <div class="expand_common_box clearfix">
	        	<h3>支付方式</h3>
	        	
	        	<volist name="ableScore" id="ableScore">
			        	<div class="radio">
						  <label>
						    <input type="radio" name="payment" value="{$ableScore.id}">{$ableScore.title}支付 
						  </label>
						  <span class="pull-right label label-danger">（{$ableScore.title}：{$ableScore.num} {$ableScore.unit}）</span>
						</div>
				</volist>
				<if condition="($onlinePay eq 1)">
						<div class="radio">
						  <label>
						    <input type="radio" name="payment" value="pingpay"> 在线支付
						  </label>
						</div>
						<div class="paychannel-box hidden">
				        	<volist name="payChannel" id="channel">
							    <div class="col-md-3">
								    <div class="paychannel" data-value="{$channel.name}">
										<input type="hidden" name="channel" value="{$channel.name}">
										<img src="__ROOT__/Application/Pingpay/Static/images/{$channel.icon}" /> {$channel.stitle} 
										<span class="selected hidden">
											<i class="icon-check"></i>
										</span>
									</div>
								</div>
							</volist>
						</div>
				</if>
	        </div>
	        <div class="expand_common_box">
	        	<h3>价格</h3>
	        	<input type="hidden" name="amount" value="{$result.price}"> 
	        	<h2 style="color:#f60">¥ {$result.price}</h2>
	        </div>
	        <div class="expand_common_box margin_bottom_15">
	        	<button class="btn btn-block btn-warning btn-lg" type="submit">确认购买</button>
	        </div>
	    </form>
	    </div>


<script>
$(function(){
	//支付方式
	$("input[name='payment']").click(function(){
		if($(this).val()=="pingpay"){
			$(".paychannel-box").removeClass("hidden");
		}else{
			$(".paychannel-box").addClass("hidden");
		}
	});
	//在线支付渠道取值
	var paychannelBtn,paychannel;
	paychannelBtn = $(".paychannel");
		paychannelBtn.click(function(){
		paychannelBtn.removeClass("click");
		paychannelBtn.children(".selected").addClass("hidden");
		$(this).addClass("click");
		$(this).children(".selected").removeClass("hidden");
		paychannel = $(this).children("input").val();
	});

	$("form").submit(function(e) {
	    e.preventDefault();
	    var self=$(this);

	    var _data = {
	    		"expand_id":$("input[name='expand_id']").val(),
	        	"payment":$("input[type='radio']:checked").val(),
	        	"paychannel":paychannel,
	        	"amount":$("input[name='amount']").val(),
        	};

	    $.post(self.attr("action"),_data, function(data) {
	    	//alert(data);
            if (!data.status) {
                toast.error(data.info, '温馨提示');
            }else{
            	toast.success(data.info);
            	setTimeout(function () {
                	window.location.href = data.url;
                }, 1000);
            }
    	}, "json");
	});
});
</script>
