<div>
    <form id="migration" action="__SELF__" method="post" class="ajax-form">
        <input type="hidden" name="id" value="{$id}">
        <input type="hidden" name="price" value="{$price}">
        <div style="padding:15px">
            <h3 class="text-center">{$info}</h3>
        </div>
        <if condition="$score eq 1">
            <div style="width: 100%;text-align: center;">
                <a class="btn btn-primary" data-role="submit">确认</a>
                <a onclick="$('.close').click();" class="btn btn-default">取消</a>
            </div>
        <else/>
            <div style="width: 100%;text-align: center;">
                <a onclick="$('.close').click();" class="btn btn-default">关闭</a>
            </div>
        </if>
    </form>
</div>
<script>
    $(function(){
        $('[data-role="submit"]').click(function(){
            query=$('#migration').serialize();
            var url=$('#migration').attr('action');
            $.post(url,query,function(msg){
                if(msg.status){
                    toast.success(msg.info);
                    setTimeout(function(){
                       window.open("{:U('index/downexpand',array('id'=>$id))}","target='_blank'",'');
                    },1500);
                }else{
                    handleAjax(msg);
                }
            },'json');

            $('.close').click();
        });
    });
</script>