<extend name="Base/common"/>
<block name="style">
    <link type="text/css" rel="stylesheet" href="__CSS__/expand.css"/>
</block>
<block name="body">
                  
    <div id="main-container" class="container">


        <div class="expand_info_main row">
                <div class="col-md-3">
                    <div class="expand_info_aside">
                    <div class="base_info">
                        <div class="col-xs-4">
                            <div class="expand_icon">
                                <img alt="{$info.title|text}" src="{$info.icon|getThumbImageById=200,200}">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="tit">
                                <h2>{$info.title}</h2>
                            </div>
                            <div class="info">
                                <p>{$info.download_num}次下载/6.5M</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                                <notempty name="info.downBtn">
                                    {$info.downBtn.btn}
                                <else />
                                    <button 
                                        type="button" 
                                        class="btn btn-block btn-lg btn-primary" >
                                            暂无版本
                                    </button>
                                </notempty>
                            <div class="price text-center">
                                    RMB:{$info.price}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="author_info">
                        <div class="right_block_title">
                            <h3>作者</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img class="img-circle" src="{$author.avatar64}"/>
                                </div>
                                <div class="col-xs-9">
                                    <a href="{$author.space_url}">{$author.nickname}</a>
                                    <p class="text-more">{$author.signature}</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </div>
                </div>        
                <div class="col-md-9">
                    <div class="expand_info_box">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="expand_icon">
                                    <img alt="{$info.title|text}" src="{$info.icon|getThumbImageById=200,200}">
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="tit">
                                    <h2>{$info.title}</h2>
                                </div>
                                <div class="description">
                                    <p>{$info.description|msubstr=0,200,'utf-8',false}...</p>
                                </div>
                            </div>
                        </div>

                        <div class="baseinfo">
                            <div class="alert alert-warning with-icon">
                                <p class="col-xs-6">版 本 号：{$info.version}</p>
                                <p class="col-xs-6">下载次数：{$info.download_num}次下载</p>
                                <p class="col-xs-6">更新日期：{$info.update_time|date='Y/m/d H:i',###}</p>
                                <p class="col-xs-6">发布日期：{$info.create_time|date='Y/m/d H:i',###}</p>
                            </div>
                        </div>
                        
                        <div class="cover">
                        <h3>应用截图</h3>
                            <div class="img">
                            <volist name="info.cover" id="cover">
                                <img alt="{$info.title|text}" src="{$cover|getThumbImageById=800,auto}" class="img-responsive">
                            </volist>
                            </div>
                        </div>

                        <div class="content">
                            <h3>详细描述</h3>
                            <p>{$info.content}</p>
                        </div>

                        <div class="revisions">
                            <h3>历史版本</h3>
                            <volist name="revisions" id="data">
                            <div class="version_box clearfix">
                                <div class="col-md-3">版本：{$data.version}</div>
                                <div class="col-md-3">更新日志</div>
                                <div class="col-md-3">更新日期：{$data.update_time|date='Y/m/d H:i',###}</div>
                                <div class="col-md-3">
                                <notempty name="data.downBtn">
                                    {$data.downBtn.btn}
                                </notempty>
                                </div>
                            </div>
                            </volist>
                        </div>
                            
                    </div>

                    <div class="expand_info_comment">
                        {:hook('localComment', array('path'=>"Expand/index/$info[id]", 'uid'=>$info['uid'],'count_model'=>'expand','count_field'=>'comment','this_url'=>'expand/index/info'))}
                    </div>
                </div>
        </div>
    </div>
</block>