<extend name="Base/common"/>
<block name="style">
    <link type="text/css" rel="stylesheet" href="__CSS__/Portfolio.css"/>
</block>
<block name="body">
    <div class="portfolio_topic">
        <div class="pic">
            行业解决方案
        </div>
        <div class="container">
            
        </div>
    </div>
    <div id="main-container" class="container">
    <include file="Public/_nav"/>
        <div class="row">
            <div class="col-xs-12">
                <section id="contents">
                    <notempty name="list">
                        <volist name="list" id="data">
                            <include file="Public/_default_list"/>
                        </volist>
                        <else/>
                        <div style="font-size:1em;padding:2em 0;color: #ccc;text-align: center">该类型下暂无内容~</div>
                    </notempty>
                </section>
                <div class="text-right">
                    {:getPagination($totalCount,20)}
                </div>
            </div>
        </div>
    </div>
</block>