<div class="lzl comments">
    <div class="lzl_Reply comments-list" id="lzl_reply_list_{$to_f_reply_id}">

    </div>

    <if condition="check_auth('Forum/Lzl/doSendLZLReply',get_expect_ids(0,$reply['id'],0,1))">
    <div class="clearfix">
        <a href="javascript:" class="pull-right show_textarea" args="{$to_f_reply_id}" >{:L('_SAY_UP_')}</a>
    </div>
    <footer>
    <div id="show_textarea_{$to_f_reply_id}" class="reply-form" <neq name="count" value="0" >style="display: none"</neq>>
        <a href="{$myInfo.space_url}" ucard="{$myInfo.uid}" class="avatar">
            <img src="{$myInfo.avatar128}" class="img-circle"/>
        </a>
        <div class="form">
            <div id="textarea_{$to_f_reply_id}" class="form-group">
                <textarea id="reply_{$to_f_reply_id}" tip="1" args="{$to_f_reply_id}"  row="2" class="form-control new-comment-text"></textarea>
            </div>
            <div class="XT_submit">
                <a id="submit_{$to_f_reply_id}" href="javascript:" post_id="{$post_id}" args="to_f_reply_id={$to_f_reply_id}&to_reply_id=0&to_uid={$reply_uid}&p={$p}" class="submitReply pull-right btn btn-primary">{:L('_SUBMIT_CTRL_ENTER_')}</a>
            </div>
        </div>
    </div>
    </footer>
    </if>
</div>

<script>
$(function(){
    $('#lzl_reply_list_{$to_f_reply_id}').load(U('Forum/Lzl/lzllist',['to_f_reply_id',"{$to_f_reply_id}"], true),function(){
        ucard()
    });
})

</script>