
.affix-top {
  background:rgba(255,255,255,0.6);
  padding:20px 0;
}#main-container {
  margin: 0;
  padding:0;
}
.adv-wrap {min-width:468px;margin:0 auto;}
.homeMainAd {background:#252c34;padding:35px 0;}