{:hook('syncMeta')}
<include file="Public/seo"/>
<!-- zui -->
<link href="__ZUI__/css/zui.min.css" rel="stylesheet">
<link href="__ZUI__/css/zui-theme.css" rel="stylesheet">
<link href="__PUBLIC__/css/bootsnav.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/common.css" rel="stylesheet"/>
<link href="__PUBLIC__/css/custom.css" rel="stylesheet"/>
<link href="__PUBLIC__/js/ext/qtip/jquery.qtip.css" rel="stylesheet"/>
<link href="__PUBLIC__/js/ext/atwho/atwho.css" rel="stylesheet"/>
<block name="style"></block>
<script src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>

<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}