	<style>
	.main-wrapper {
    	padding-top: 0;
	}
	.descBox {
		padding:60px 0;
	}
	.descBox h2 {
		font-size:2em;
	}

	.descBox .light {
		width:60px;
	}
	.descBox .cont {
		padding:30px;
		font-size:18px;
		max-width:880px;
		margin:0 auto;
	}
	#section1 {
		background-image: url(__IMG__/2.jpg);
		background-position: 50%;
	    background-size: cover;
	    position: relative;
	    transform-style: preserve-3d;
	    background-attachment: fixed;
    	overflow: hidden;
	}
	#section1 .muucmfHead{
		min-height:600px;
		height: 100vh;
		position:relative;
		display:table;
    	width:100%;
	}
	#section1 .muucmfHead .headInfo {
		margin:30px auto;
		display:table-cell;
		vertical-align: middle;
		text-align:center;
	}
	#section1 .muucmfHead .headInfo h2{
		font-size:3em;
		color:#fff;
	}
	#section1 .muucmfHead .headInfo .downBtn{
		margin-top:80px;
		text-align:center;
	}
	#section1 .muucmfHead .headInfo .downBtn .cum-btn {
		border-radius:3px;
		margin:0 50px;
		font-size:26px;
		background:rgba(3,155,299,0.6);
		border:0;
	}

	#section2 {
		background:#2EA9D3;
	}
	#section2 .descBox h2 {
		color:#fff;
	}
	#section2 .descBox .light {
		width:60px;
		border-top:5px solid #fff;
	}
	#section2 .descBox h3{
		color:#fff;
	}

	#section3 {
		min-height: 400px;
	}
	#section3 .descBox hr {
		width:60px;
		border-top:5px solid #f1c40f;
	}
	#section3 .descBox .col-md-6 {
		padding-right:0;
	}
	#section3 .descBox .cont {
		padding:30px;
		font-size:18px;
		color:#666;
	}
	#section3 .descBox .class {
		border:2px solid #e4e4e4;
		min-height:80px;
		line-height: 80px;
		text-align: center;
		margin:10px auto;
		font-size:28px;
		border-radius:5px;
	}
	#section3 .descBox .class i {
		font-size:28px;
		color:#f1c40f;
	}

	#section_builder {
		min-height: 400px;
		background: linear-gradient(to right, #f1c40f, #3498db);
	}
	#section_builder .descBox {
		padding-bottom:0;
	}
	#section_builder .descBox hr {
		width:60px;
		border-top:5px solid #fff;
	}
	#section_builder .descBox h2 {
		color:#fff;
	}
	#section_builder .descBox p {
		color:#fff;
		font-size:1em;
	}
	#section_builder .descBox .cont {
		padding:30px;
		font-size:18px;
		color:#666;
	}

	#section4 {
		min-height: 400px;
		background: #fff;
	}
	#section4 .descBox h2 {

	}
	#section4 .descBox hr {
		width:60px;
		border-top:5px solid #f1c40f;
	}
	#section4 .descBox .cont {
		padding:30px;
		font-size:18px;
		color:#666;
	}

	#section5 .descBox hr {
		width:60px;
		border-top:5px solid #f1c40f;
	}
	#section5 .descBox .icon {
		min-height:180px;
	}
	#section5 .descBox .cont {
		padding:30px;
		font-size:18px;
		color:#666;
	}


	#section6 {
		background:#fff;
	}
	#section6 .descBox hr {
		width:60px;
		border-top:5px solid #f1c40f;
	}
	#section6 .descBox .cont {
		padding:30px;
		font-size:18px;
		color:#666;
	}

	#section7 .descBox hr {
		width:60px;
		border-top:5px solid #f1c40f;
	}
	#section7 .downBtn{
		margin-top:80px;
		text-align:center;
	}

	</style>
	<section id='section1'>
	<!--顶部大图-->
		<div class="muucmfHead">

				<div class="headInfo text-center">
				    <h2>MUUCMF开源内容管理框架</h2>
				    <h2>MuuCmf Content Management Framework</h2>
					<p class="downBtn">
						<a href="your/url/" class="btn btn-lg btn-info cum-btn" type="button">MuuCmf v1.0 下载</a>
						<a href="your/url/" class="btn btn-lg btn-info cum-btn" type="button">GitHub</a>
				    	<a href="your/url/" class="btn btn-lg btn-info cum-btn" type="button">在线演示</a>
					</p>
				</div>
			
		</div>
	</section>

	<section id='section2'>
	<!--顶部大图-->
		<div class="descBox">
				<div class="Info text-center">
				    <h2>为中小企业和创业公司而生</h2>
				    <hr class="light">
				    <h3>更低成本 更高效率 更牛品质 更适合未来...</h3>
				</div>
			
		</div>
	</section>

	<section id='section3'>
		<div class="descBox clearfix">
			<div class="Info text-center">
			    <h2>MUU让你更专注你的核心业务需求</h2>
			    <hr class="light">
			    	<div class="cont">
				    	<p>MuuCmf是一个将CMS和Framework两个概念完美结合的内容管理系统，提供了丰富的系统功能。开发人员只需要专注于业务系统的开发，或通过MuuCmf应用商店下载你需要的模块实现更快部署...</p>
				    </div>

				<div class="container">
			    	<div class="col-md-4">
			    		<div class="class">
			    		<i class="icon-user"></i> 用户&角色
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="class">
			    		<i class="icon-laptop"></i> 运营
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="class">
			    		<i class="icon-shield"></i> 安全
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="class">
			    		<i class="icon-windows"></i> 系统
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="class">
			    		<i class="icon-cloud"></i> 扩展
			    		</div>
			    	</div>
			    	<div class="col-md-4">
			    		<div class="class">
			    		。。。
			    		</div>
			    	</div>
				</div>
			</div>
		</div>
	</section>

	<section id='section_builder'>
		<div class="container">
			<div class="descBox clearfix">
				<div class="Info text-center">
				    <h2>后端页面Builder自动生成机制 后台进入极速开发时代</h2>
				    <hr class="light">
				    <div class="cont">
				    	<p>独创的Builder页面自动生成技术极大的解放了后端开发者的工作，只需要专注于业务逻辑，页面交给Builder帮您完成。</p>  
				    </div>
				    <img src="__IMG__/builder.png" />
				</div>
			</div>
		</div>
	</section>

	<section id='section4'>
		<div class="container">
			<div class="descBox clearfix">
				<div class="Info text-center">
				    <h2>模块&插件 拓展从未如此简单</h2>
				    <hr class="light">
				    <div class="cont">
				    		<p>系统功能全面模块化、插件化；云商城拥有丰富的模块、插件、主题，可以用来对系统功能进行无限扩展。</p>
				    </div>
					<div class="col-md-12">
				    	<img src="__IMG__/expand.png" class=""/>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id='section5'>
		<div class="container">
			<div class="descBox clearfix">
				<div class="Info text-center">
				    <h2>更理想的PC+微信+App 后端解决方案</h2>
				    <hr class="light">
				    <div class="cont">
				    	<p>支持PC、手机Wap、微信、iOS、安卓等流行操作系统平台，真正的一次编写，到处运行。</p>
				    </div>
				    <div class="col-md-4">
				    	<div class="icon">
				    	<img src="__IMG__/website.png" class=""/>
				    	</div>
				    	
				    </div>
				    <div class="col-md-4">
				    	<div class="icon">
				    	<img src="__IMG__/wechat.png" class=""/>
				    	</div>
				    	
				    </div>
				    <div class="col-md-4">
				    	<div class="icon">
				    	<img src="__IMG__/apps.png" class=""/>
				    	</div>
				    	
				    </div>
				    
				</div>
			</div>
		</div>
	</section>

	<section id='section6'>
		<div class="container">
			<div class="descBox">
					<div class="Info text-center">
					    <h2>云端一键系统升级</h2>
					    <hr class="light">
					    <div class="cont">
					    		<p>云端一键升级,定期产品更新迭代，免费升级更便捷</p>
					    </div>
					    <div class="col-md-12">
					    	<img src="__IMG__/quick-update.png" class=""/>
					    </div>
					</div>
				
			</div>
		</div>
	</section>

	<section id='section7'>
		<div class="container">
			<div class="descBox">
					<div class="Info text-center">
					    <h2>更多功能等待你的发现</h2>
					    <hr class="light">
					    <div class="downBtn">
					    	<a href="your/url/" class="btn btn-lg btn-info cum-btn" type="button">MuuCmf v1.0 下载</a>
					    </div>
					</div>
				
			</div>
		</div>
	</section>




