.coupon-container{
    margin: 1.5rem 1.5rem 0;
}
.coupon-section{
    position: relative;
    background: #68a4f4;
    /*background: #c85e0b;*/
    margin-top: 1rem;
}
.coupon-section:before{
    content: '';
    width: 8px;
    height: 100%;
    background-image: url(/Application/Shop/Static/images/slide.png);
    position: absolute;
    top:0;left: -8px;
}

.coupon-section>div{
    float: left;
}
.coupon-section>.coupon-left{
    width: 80%;height:100%;
    color: white;
    padding:0.834rem;
    padding-bottom: 36px;

}
.coupon-section>.coupon-right{
    width: 20%;height:100%;
    color: #f1d863;
    border-left: dashed thin #d4d4d4;
    text-align: center;
    padding:0.834rem;
}
.coupon-section>.coupon-right:after{
    content: '';
    width: 8px;
    height: 100%;
    background-image: url(/Application/Shop/Static/images/slide.png);
    position: absolute;
    top:0;right: -8px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);	/* Safari and Chrome */
}
.coupon-desc{
    text-align: right;
}
.coupon-logo{
    height: 1em;
    float: left;
}
.coupon-price{
    text-align: center;
    font-size: 2.8rem;
}
.coupon-price .coupon-num{
    font-size: 1.8em;
}
.coupon-num-top{
    vertical-align: top;
}
.coupon-bottom-tips{
    position: absolute;
    bottom: 10px;  left:0;
    width: 76%;
    text-align: center;
    margin: 0 2%;
}
.coupon-bottom-tips>span{
    background: #5b91e3;
    display: inline-block;
    padding: 2px 8px;
    color: #c9dbf5;
}
.right-text{
    font-size: 3rem;
    line-height: 1.3em;
    width: 1em;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -2px;
}