.good-section{
    position: relative;
    min-height: 7.1rem;
}
.good-section-left{
    position: absolute;
    top: 0;left: 0;
    padding: 0.834rem;
}
.good-section-img{
    width: 5.3334rem;
    height: 5.3334rem
}
.good-section-right{
    width: 100%;
    padding:0.834rem;
    padding-left: 7.1rem;
}
.good-section-price{
    float: right;
}
.good-status-text{
    float: left;
}
/*info*/
.good-info-section{background: white}
.good-info-section>div{margin: 0 0.834rem;padding: 0.834rem 0;border-top: thin solid #e2e2e2}
.good-info-section>.good-right-div{text-align: right;}
/*user*/
.user-article .good-section{  background: none;  }
.user-article .good-section-img{  border-radius: 50%;  }
.user-article .good-section-right{  height: 7.1rem;  line-height: 3rem;  }
.user-article .good-section-right p{  margin-left: 1rem;  }

/*block型 一行两个*/
.block-good-article{  }
.block-good-section{
    float: left;
    /*background: white;*/
    background: white;
    width: 48%;
    min-height: 10rem;
    margin-bottom: 0.834rem;
}
.block-good-section:nth-child(2n-1){  margin-right: 4%;}
.block-good-section>.block-top{
    height: 0;
    width: 100%;
    position: relative;
    padding: 0 0 100%;
}
.block-top .block-good-img{
    width: 100%;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;left: 0;
}
.block-good-section>.block-bottom{  padding:0.834rem;  }