/*horn*/
.horn-aside{ min-height: 3rem;overflow: hidden}
.horn-aside .horn-icon{ margin-left: 0}
.horn-aside .horn-icon>img{ width: 2rem ;position: relative;top: 0.4rem}
.horn-aside .horn-brief{ margin-left: 2.8rem ;white-space: nowrap;overflow: hidden}
.horn-auto-scroll{
    position: relative;left: 0;
}
/**/
.index-section{
    background: white;
    min-height: 100px;
    margin: 0.84rem;
}
.index-section-title{
    padding: 5px;
    margin: 0 5px;
}
.index-section-pic-box{
    position: relative;
}
.index-section-pic{
    min-height: 5rem;
    width: 100%;
}
.section-pic-tips-group{
    position: absolute;
    top: 0;left: -4px;z-index: 10;
}
.section-pic-tips{
    margin-top: 4px;
    color: white;
    min-width: 3rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.3)
}
.index-section-footer{
    text-align: right;
    padding: 5px;
    position: relative;
}
.section-btn-group{
    position: absolute;
    top: -1.95rem;left: 0;
}
.section-btn-group section{
    border: thin solid #333333;
    border-radius: 50%;
    float: left;
    width: 3rem;height: 3rem;
    text-align: center;
    margin-left: 1rem;
    background: white;
}
.section-btn-group section img{
    width: 1.6rem;
    vertical-align: middle;
}
.echo-img{
    min-height: 10rem;
    background: #FFF url(/Application/Shop/Static/images/loaading.gif) no-repeat center center;
}