*,body,p,ul,ol,h1,h2,h3,h4,h5,h6,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
html{font-size: 75%; font-weight: 400;}/*整体调整,默认:62.5% => 10px;75%=>12px*/
@media screen and (max-width: 360px) {
    html{font-size: 62.5%;}
}
p,span,div{word-wrap:break-word}/*断字*/
img{ border: 0;max-height: 100%;max-width: 100%}  button{cursor: pointer}
a:link{text-decoration:none;}       /* 指正常的未被访问过的链接*/
a:visited{text-decoration:none;}    /*指已经访问过的链接*/
a:hover{text-decoration:none;}      /*指鼠标在链接*/
a:active{text-decoration:none;}     /* 指正在点的链接*/
li{list-style:none}/*去点*/ em{font-style:normal}/*去除斜体*/
table{  border-collapse:collapse;/*合并边框模型：*/border-spacing:0;/*边框间的距离*/}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {*zoom:1;} .overFlow{overflow: hidden} /*清除浮动*/
.text-ellipsis{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} /*单行自动打点*/
.border-box{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}/*计算边框的盒子*/
/*table布局,垂直居中*/
.display-table{display: table;text-align: center;width: 100%;}  .display-table ul{display: table-row;}  .display-table ul li{display: table-cell;vertical-align: middle;}
/*定位盒子,子元素加vertical实现定位，可实现垂直*/
.vertical-box:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
/*todo:全局布局*/
/*兼容大屏幕，考虑要不要用响应式，去掉中间白边的过程*/
body{max-width: 600px;margin: 0 auto;}
body>footer{max-width: 600px;margin: 0 auto;left: 0;right: 0;}
/*顶部*/
body>header{height: 3.75rem;text-align: center;position: relative;z-index: 250;}
.header-title{vertical-align: middle;font-size: 1.7rem;}
.header-left{position: absolute;top: 0;  left: 0;height: 100%;}
.header-right{position: absolute;top: 0;right: 0;height: 100%;}
body>header .img-btn{vertical-align: middle;width: 16px;padding: 1rem;}
/*导航类的footer*/
body>footer.nav-footer{
    position: fixed;
    bottom: 0;  left: 0;z-index: 100;
    width:100%; height: 4.5rem;
    border-top: thin solid #e1e1e1;
    background: white;
}
.nav-footer-margin{
    margin-bottom: 4.5rem;/*跟保持上面的height一样*/
    padding-bottom: 1px;/*防止margin*/
}
.footer-group{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.icon-title{
    font-size: 1.2rem;
    position: absolute;
    bottom: -6px;
    width: 3.6rem;
    text-align: left;
}
/*按钮类footer*/

body>footer.btn-footer{
    position: fixed;
    bottom: 0;  left: 0;z-index: 100;
    width:100%; height: 4rem;
    border-top: thin solid #e1e1e1;
    background: white;
    line-height: 4rem;
    text-align: center;
}
.btn-footer-margin{
    margin-bottom: 4rem;/*跟保持上面的height一样*/
    padding-bottom: 1px;/*防止margin*/
}
footer.btn-footer button{
    border: none;
    border-radius: 3px;
    padding: 8px;
    width: 7rem;
}
body>footer.btn-footer.footer-one-btn button{padding: 5px}
.btn-footer.footer-one-btn{text-align: center}
.btn-footer.footer-one-btn button{ width: 94%;}
.btn-footer.footer-two-btn{padding: 0 4%}
.btn-footer.footer-two-btn button{width: 43%}
.btn-footer.footer-two-btn button:first-child{float: left;margin-left: 0.8rem}
.btn-footer.footer-two-btn button:last-child{float: right;margin-right: 0.8rem}

/*常用长条形section*/
.linear-section{
    border-top: thin solid #e2e2e2;
    background: white;
    position: relative;
    min-height: 1rem
}
.linear-noinput{padding:0.834rem;}
.last-liner-section{border-bottom: thin solid #e2e2e2}
.linear-title{position: absolute;top: 0;left:0;height: 100%;margin-left: 0.834rem}
.linear-title>span{vertical-align: middle}
.linear-right{position: absolute;top: 0;right:0;height: 100%;padding-right: 0.834rem}
.linear-right>span{vertical-align: middle;display: inline-block}
.linear-right>span>img{margin-left: 0.5rem}
.linear-input{border: none;width: 100%;padding:0.834rem;}
.margin-top{margin-top: 1rem}
.margin-bottom{margin-bottom: 1.2rem}
/*存放html代码的容器*/
.html-box{ min-height: 4rem }
/*常用左右型:待整合,margin型*/
.left-right-section{position: relative}
.left-right-section>.left-section{position: absolute;top: 0;left: 0}
.bg-avatar{background-image: url(/Application/Shop/Static/images/avatar.png);background-size: 100% 100%;background-repeat: no-repeat}
.list-bottom-tips{text-align: center}
