            <div>
                <h2 class="article-title">{:L('_ACTIVE_USER_')}</h2>

                <div class="clearfix position-users">
                    <volist name="active_user" id="vo">
                        <div class="text-ellipsis text-center col-xs-4"><a target="_blank" ucard="{$vo.uid}"
                                                                           href="{$vo.user.space_url}"><img
                                class="avatar-img" src="{$vo.user.avatar64}" style="width: 64px ;height: 64px"> </a>
                            <br/>
                            <a target="_blank" href="{$vo.user.space_url}">
                                {$vo.user.nickname}
                            </a>
                        </div>
                    </volist>
                </div>
            </div>