.margin-top-section{
    margin-top: 0.8rem;
}
.makeorder-section .linear-input{
    padding-left: 7rem;
    padding-right: 2rem;
}
.linear-address-section{
    width: 100%;
    padding: 0.834rem;
    padding-right: 2rem;
    line-height: 2rem;
}
.detail-icon-user,.detail-icon-phone2{
    position: relative;
    top: 1px;
    vertical-align: baseline;/**/
}
.address-user{margin-right: 1rem}
/*.detail-icon-phone2{  margin-right: 3px;  }*/
.circle-checkbox{
    border: thin solid #cdcdcd;
    margin-right: 1rem;
    width: 1.8334rem;
    height: 1.8334rem;
    line-height: 1.6rem;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}
.circle-checkbox>img{
    vertical-align: middle;
    width: 0.8rem;
}
.makeorder-footer-left{
    float: left;
    width: 60%;
    height: 100%;
    text-align: left;
    padding-left: 0.834rem;
}
.makeorder-footer-right{
    float: left;
    width: 40%;
    height: 100%;
}
/*address*/
.address-article>section:last-child{
    margin-bottom: 2rem;
}
.address-article .linear-right img{
    width: 1.5rem;
}
.address-article .linear-address-section{
    padding-right: 2.5rem;
}