<extend name="Public/common"/>
<block name="style">
<link rel="stylesheet" href="__CSS__/public.css">
<link rel="stylesheet" href="__CSS__/user.css">
</block>
<block name="body">
<div id="main-container" class="container-fixed">
	<div class="col-xs-2">
		<!--用户中心导航-->
		<include file="User/_nav"/>
	</div>

	<div class="col-xs-10">

	<div class="common_box">
		<h3>我的订单</h3>
	</div>

	<div class="common_box margin-top-10 clearfix">
		<notempty name="order_list.list">
		<table class="td-void order-tb">
			<thead>
                <tr>
                    <th>
	                    <div class="ordertime-cont">
						<div class="time-txt">近三个月订单 <i class="icon-angle-down"></i></div>
						<div class="time-list">
                            <ul>
                                <li><a href="#none" class="curr">近三个月订单</a></li>
                                <li><a href="#none">今年内订单</a></li>
                                <li><a href="#none">更早的订单</a></li>
                            </ul>
	                    </div>
						</div>
						<div class="order-detail-txt ac">订单详情</div>
					</th>
                    <th>收货人</th>
                    <th>金额</th>
                    <th>
                        <div class="deal-state-cont" id="orderState">
                            <div class="state-txt">全部状态 <i class="icon-angle-down"></i></div>
                            <div class="state-list">
                                <ul>
                                    <li value="4096">
                                        <a href="#none" clstag="click|keycount|orderlist|quanbuzhuangtai" class="curr"><b></b>全部状态</a>
                                    </li>
                                    <li value="1">
                                        <a href="#none" clstag="click|keycount|orderlist|dengdaifukuan"><b></b>等待付款</a>
                                    </li>
                                    <li value="128" clstag="click|keycount|orderlist|dengdaishouhuo">
                                        <a href="#none"><b></b>等待收货</a>
                                    </li>
                                    <li value="1024">
                                        <a href="#none" clstag="click|keycount|orderlist|yiwancheng"><b></b>已完成</a>
                                    </li>
                                    <li value="-1">
                                        <a href="#none" clstag="click|keycount|orderlist|yiquxiao"><b></b>已取消</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th>
                    <th>操作</th>
                </tr>

            </thead>
            <volist name="order_list.list" id="order">
            <tbody data-id="{$order.order_no}">
	        <tr class="sep-row"><td colspan="5"></td></tr>
            <tr class="tr-th">
                <td colspan="5">
	            <span class="dealtime">{$order.create_time|date='Y-m-d H:i',###}</span>
	            <span class="number">订单号：<a name="orderIdLinks" target="_blank" href="#">{$order.order_no}</a></span>
	            </td>
	        </tr>
	        
        	<tr class="tr-bd">
	            <td>
	            <volist name="order.products" id="products">
	            <div class="goods-box clearfix">
	                <div class="goods-item">
	                    <div class="p-img">
	                        <a href="{:U('Index/product',array('id'=>$products['id']))}" target="_blank">
	                        <img src="{$products.main_img}" title="{$products.title}" width="60" height="60">
	                        </a>
	                    </div>
	                    <div class="p-msg">
	                        <div class="p-name">
	                        	<a href="{:U('Index/product',array('id'=>$products['id']))}" class="a-link" target="_blank" title="{$products.title}">
	                        		{$products.title}
	                        	</a>
	                        </div>
	                    </div>
	                </div>
	                <div class="goods-number">
	                    x{$products.quantity}
	                </div>
		            <div class="goods-repair">
	                     <a href="#" target="_blank">售后|退换货</a>
	        	    </div>
	        	</div>
	        	</volist>
	            </td>
	            
	            <td rowspan="1">
	                <div class="consignee tooltip">
	                    <span class="txt">{$order.address.name}</span><b></b>
	                    <div class="prompt-01 prompt-02" style="display: none;">
	                        <div class="pc">
	                            <strong>{$order.address.name}</strong>
	                            <p>{$order.address.province} {$order.address.city} {$order.address.town} {$order.address.address}</p>
	                            <p>{$order.address.phone}</p>
	                        </div>
	                        <div class="p-arrow p-arrow-left"></div>
		                </div>
	                </div>
	            </td>
	            <td rowspan="1">
	                <div class="amount">
	                	<span>总额 ¥{$order.paid_fee}</span> <br>
	                	<span class="ftx-13">
	                	<switch name="order.pay_type">
						    <case value="1">免费</case>
						    <case value="2">货到付款</case>
						    <case value="10">在线支付</case>
						    <default />未设置
						</switch>
	                	</span>
	                </div>
	            </td>
	            <td rowspan="1">
	                <div class="status">
	                    <span class="order-status ftx-03">
	                    <switch name="order.status">
						    <case value="1">待付款</case>
						    <case value="2">待发货</case>
						    <case value="3">已发货</case>
						    <case value="4">已完成</case>
						    <case value="5">维权完成</case>
						    <case value="8">维权中</case>
						    <case value="10">已取消</case>
						    <default />待付款
						</switch>
	            	</span>
	            	<br>
	            	<if condition="$order.status eq 3">
	            		<a target="_blank" href="#" class="ftx-01 bean-tips">
	            			<i class="bean-icon"></i>+{$order.back_point}
	            		</a>
					</if>
	                <br>
	                    <a href="#"  target="_blank">订单详情</a>
	                </div>
	            </td>
	            <td rowspan="1">
	                <div class="operate">
	                	<switch name="order.status">
						    <case value="1">
						    	<a href="#" class="btn btn-warning" target="_blank">
		                        	立即支付
								</a>
								<br>
						    	<a target="_blank" href="#">
	                        		取消订单
		                        </a>
		                    </case>
						    <case value="2">
						    	<a target="_blank" href="#">
	                        		取消订单
		                        </a>
		                        <br>
		                        <a target="_blank" href="#">
		                        	催单
		                        </a>
						    </case>
						    <case value="3">
						    	等待收货
						    </case>
						    <case value="4">
						    	<a target="_blank" href="#">
	                        		评价
		                        </a>
		                        <br>
		                        <a href="#" class="btn btn-danger" target="_blank">
		                        	再次购买
								</a>
						    </case>
						    <case value="5">
							    <a href="#" class="btn btn-danger" target="_blank">
		                        	再次购买
								</a>
						    </case>
						    <case value="8">
						    	维权中
						    </case>
						    <case value="10">
						    	<a href="#" class="btn btn-danger" target="_blank">
	                        		再次购买
								</a>
						    </case>
						    <default />
						</switch>
	                </div>
	            </td>
            	</tr>

            </tbody>
            </volist>
		</table>  
        <else />
            还没有订单...快去下个单喽！
        </notempty>
    </div>
    <div class="common_box margin-top-10 clearfix">
	    <div class="text-right">
	        {:getPagination($order_list['count'],20)}
	    </div>
    </div>
	</div>
</div>
</block>