<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/pingpay.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">
	<div id="main-container" class="container">
	    <div class="common_box">
	    <div class="score_list_box clearfix">
	    <h2>我的钱包</h2>	
	    	<volist name="score" id="score">
		    	<div class="col-md-{$col_num}">
		    		<div class="score_box score_{$score.id}">
			    		<h2 class="text-center">{$score.title}</h2>
			    		<p class="text-center">{$score.num}</p>
		    		</div>
		    	</div>
	    	</volist>
	    </div>

	    <div class="menu_list_box clearfix">
	    <h2>功能菜单</h2>				
			<volist name="userMenu" id="menu">
				<div id="{$menu.tab}" class="col-md-3">
					<div class="menu_box">
						<a class="menu_a" href="{$menu.href}">
							<p>{$menu.icon}</p>
							<p>{$menu.title}</p>
						</a>
					</div>
				</div>
			</volist>
	    </div>

	    </div>
    </div>
</block>











