<extend name="Public/common"/>
<block name="style">
	<link href="__CSS__/pingpay.css" rel="stylesheet" type="text/css"/>
	<link href="__PUBLIC__/css/form_check.css" rel="stylesheet" type="text/css">
</block>
<block name="body">
	<div class="recharge_form_box clearfix">
		<form class="" role="form" action="__SELF__" method="post">
			<input type="hidden" name="body" value="在线积分充值">

			<div class="form-group clearfix">
		    <label for="channel">充值类型</label>
			    <div class="row">
				    <volist name="score" id="score">
					    <span class="subject" data-id="{$score.id}" data-type="{$score.title}">
						  <input type="hidden" name="subject" value="[{$score.id}]{$score.title}-充值"> {$score.title} 
						  <i></i>
						</span>
					</volist>
					
			    </div>
		  </div>

		  <div class="form-group">
	    	<label for="amount" >充值</label>
			    <div class="amount-input">
			    	<input type="number" name="quantity" class="form-control form_check" check-type="Num" check-type="IntNum" check-value="{$min_money},*" id="quantity" placeholder="请输入充值数量">
			  	</div>
			  	<p id="exchange"></p>
		  	</div>
		  <div class="form-group">
		   <label for="price">应付总额</label>
		   		
		   		<div class="totalprice">￥<span></span><input type="hidden" name="amount"></div>
		  </div>
		  <div class="form-group clearfix">
		    <label for="channel" class="">选择支付方式</label>
		    <div class="row">
		    {:W('Paychannel/render')}
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="">
		      <button type="submit" class="btn btn-lg btn-warning">在线支付</button>
		    </div>
		  </div>

		</form>
	</div>
</block>

<block name="script">
    <script src="__JS__/pingpay.js"></script>
    <script src="__PUBLIC__/js/form_check.js"></script>
    <script>
        $(function () {
        	var score_id,exchange,subject;
    		//充值类型
        	$(".subject").click(function(){
        		$(".subject").removeClass("selected");
				$(this).addClass("selected");
				subject = $(this).children("input").val();
				score_id = $(this).attr("data-id");
				$.get('{:U("index/score_exchange")}',{id:score_id},function(ret){
					if(ret.status==1){
						exchange = ret.data.exchange;
						var txt = '提示：'+ret.data.exchange+ret.data.unit+ret.data.title+'=1元RMB';
						$('#exchange').text(txt);
						totalPrice(ret.data.exchange);
	            	}
				});
				
        	});
        	$(".subject:first").click();//执行一次充值类型点击

        	$(".amount-input input").bind('input propertychange',function(){
        		totalPrice(exchange);
        	});

        	function totalPrice(exchange){
        		var inputNum = $(".amount-input input").val();
        		var ex = exchange;
        		var totalprice = inputNum/ex;
				$('.totalprice span').text(totalprice);
				$('.totalprice input').val(totalprice);
			}
        	
        	//表单提交
	        $("form").submit(function(e) {
	        	e.preventDefault();
	            toast.showLoading();
	            var self=$(this);
	            //var _data = self.serialize();
	            var _data = {
	            	"subject":subject,
	            	"body":$("input[name='body']").val(),
	            	"quantity":$("input[name='quantity']").val(),
	            	"amount":$("input[name='amount']").val(),
	            	"channel":$.fn.payChannel.channelName(),
	            	"description":$("input[name='description']").val(),
	            	"metadata": {
	            		"module":"Pingpay",
	            		"score_id":score_id,
	            	},
	            };
			    $.post(self.attr("action"),_data, function(data) {
			    	//alert(data);
		            if (!data.status) {
		                toast.error(data.info, '温馨提示');
		            }else{
		            	toast.success(data.info);
		            	setTimeout(function () {
		                	window.location.href = data.url;
		                }, 1000);
		            }
		    	}, "json");
	            toast.hideLoading();
	        });
        })
    </script>
</block>










