<extend name="public/devcenter"/>
<block name="body">
    <div class="expand_common_box margin_bottom_15">
        <h2 class="text-center">{$seo.title}</h2>
    </div>
    <div id="frm-post-popup " class="edit-box clearfix">
            <div class="row">
                <form class="form-horizontal ajax-form" role="form" action="__SELF__" method="post">
                    <input type="hidden" name="id" id="id" value="{$data.id}"/>
                    <input type="hidden" name="uid" value="is_login()"/>
                    <input type="hidden" name="download_file" id="zip_file_id" value="{$data.download_file}"/>
                    <div class="form-group">
                        <label for="title" class="col-xs-2 control-label">应用名称</label>
                        <div class="col-md-8 col-sm-10">
                            <div style="padding-top: 6px;">{$expandData.title}</div>
                        <input name="expand_id" value="{$expandData.id}" type="hidden" />
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                    <label for="title" class="col-xs-2 control-label">上传ZIP压缩包</label>
                    <div class="col-md-8 col-sm-10">
                        <div class="controls">
                            <input type="file" id="upload_file_zip">
                            <div class="upload-file-box" style="margin-top: 15px;">
                                <div class="upload-pre-item">
                                    <if condition="$data['download_file']">
                                        <div class="file_info">
                                            <img src="__IMG__/zip.gif" />
                                            <span>{$data.download_file|getFileNameById='file_id'}</span>
                                        </div>
                                    </if>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="version" class="col-xs-2 control-label">版本号</label>

                        <div class="col-md-8 col-sm-10">
                            <input id="version" name="version" class="form-control form_check" value="{$data.version}" placeholder="请输入一个新的版本号"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="update_log" class="col-xs-2 control-label">更新日志</label>

                        <div class="col-md-8 col-sm-10">
                            <php>
                                $config="toolbars:[['source','|','bold','italic','underline','fontsize','forecolor','fontfamily','backcolor','|','justifyleft','justifycenter','justifyright','link','emotion','scrawl','insertcode']]";
                            </php>
                             {:W('Common/Ueditor/editor',array('myeditor_edit','update_log',$data['update_log'],'100%','200px',$config))}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-md-8 col-sm-10">
                        <if condition="$data.id neq 0">
                            <button type="submit" class="btn btn-primary">编辑</button>
                        <else />
                            <button type="submit" class="btn btn-primary">发布版本</button>
                        </if>
                            <button onclick="history.go(-1);" class="btn btn-default">返回</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script>
        $("#upload_file_zip").uploadify({
            "height": 30,
            "swf": "__STATIC__/uploadify/uploadify.swf",
            "fileObjName": "download",
            "buttonText": "上传ZIP压缩包",
            "buttonClass": "upload_btn",
            "uploader": "{:U('Home/File/uploadFile',array('session_id'=>session_id()))}",
            "width": 120,
            'removeTimeout': 1,
            'fileTypeExts': '*.zip;',
            "onUploadSuccess": uploadZipFile,
            'overrideEvents': ['onUploadProgress', 'onUploadComplete', 'onUploadStart', 'onSelect'],
            'onFallback': function () {
                alert('未检测到兼容版本的Flash.');
            }, 'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                $("#cover_id_cover").parent().find('.upload-file-box').html(totalBytesUploaded + ' bytes uploaded of ' + totalBytesTotal + ' bytes.');
            }, 'onUploadComplete': function (file) {
                //alert('The file ' + file.name + ' finished processing.');
            }, 'onUploadStart': function (file) {
                //alert('Starting to upload ' + file.name);
            }, 'onQueueComplete': function (queueData) {
                // alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
            }
        });
        function uploadZipFile(file, data) {
            var data = $.parseJSON(data);
            var src = '';
            if (data.status) {
                console.log(data.data.download);
                $("#zip_file_id").val(data['data']['download']['id']);
                src = data.data.download.name || data.data.download.savename;
                $('.upload-file-box').html(
                        '<div class="upload-pre-item">'+
                            '<div class="file_info">'+
                                '<img src="__IMG__/zip.gif" />'+
                                ' <span>'+ src + '</span>'+
                            '</div>'+
                        '</div>'
                );
            } else {
                toast.error('文件上传失败。', '温馨提示');
            }
        }

        $(document)
                    .ajaxStart(function () {
                        $("button:submit").addClass("log-in").attr("disabled", true);
                    })
                    .ajaxStop(function () {
                        $("button:submit").removeClass("log-in").attr("disabled", false);
                    });
            $("form").submit(function () {
                toast.showLoading();
                var self = $(this);
                $.post(self.attr("action"), self.serialize(), success, "json");
                return false;

                function success(data) {
                    if (data.status) {
                        toast.success(data.info, '温馨提示');
                        setTimeout(function () {
                            window.location.href = data.url
                        }, 1000);
                    } else {
                        toast.error(data.info, '温馨提示');
                    }
                    toast.hideLoading();
                }
            });

    </script>
    <link href="__PUBLIC__/css/form_check.css" rel="stylesheet" type="text/css">
    <script src='__PUBLIC__/js/form_check.js'></script>
</block>
