<extend name="public/devcenter"/>
<block name="body">
<div id="main-container" class="container">
    <div id="frm-post-popup " class="edit-box clearfix">
        <div>
            <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">发布应用流程</h2>
            </div>
                <form class="form-horizontal ajax-form" role="form" action="{:U('Expand/My/edit')}" method="post">
                    <input type="hidden" name="id" id="id" value="{$data.id}"/>
                    <input type="hidden" name="uid" value="{$data.uid}"/>
                    <input type="hidden" name="icon" id="icon_file_id_" value="{$data.icon}"/>
                    <div class="form-group has-feedback">
                        <label for="title" class="col-xs-2 control-label">应用名称</label>
                        <div class="col-md-8 col-sm-10">
                            <input id="title" name="title" class="form-control form_check" check-type="Text" check-length="4,20" value="{$data.title}" placeholder="应用名称" />
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                    <label for="title" class="col-xs-2 control-label">图标</label>
                    <div class="col-md-8 col-sm-10">
                        <div class="controls">
                            <input type="file" id="upload_picture_icon">
                            <div class="upload-img-box" style="margin-top: 15px;">
                                <div class="upload-pre-item">
                                    <if condition="$data['icon']">
                                        <img src="{$data.icon|get_cover='path'}" style="width: 200px;">
                                    </if>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="category" class="col-xs-2 control-label">分类</label>

                        <div class="col-md-8 col-sm-10">
                            <select id="category" name="category" class="form-control">
                                <volist name="category" id="top">
                                    <option value="{$top.id}" <eq name="data['category']" value="$top['id']"> selected</eq>>
                                    {$top.title}
                                    </option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="description" class="col-xs-2 control-label">一句话描述</label>

                        <div class="col-md-8 col-sm-10">
                            <textarea id="description" name="description" class="form-control form_check" check-type="Text" check-length="8,100" placeholder="一句话简单描述应用(选填)">{$data.description}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-xs-2 control-label">应用详情</label>

                        <div class="col-md-8 col-sm-10">
                            <php>
                                $config="toolbars:[['source','|','bold','italic','underline','fontsize','forecolor','fontfamily','backcolor','|','link','emotion','scrawl','attachment','insertvideo','insertimage','insertcode']]";
                            </php>
                            {:W('Common/Ueditor/editor',array('myeditor_edit','content',$data['content'],'100%','250px',$config))}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-xs-2 control-label">价格</label>

                        <div class="col-md-8 col-sm-10">
                            <input id="price" name="price" class="form-control form_check" check-type="IntNum" check-value="0,99999" value="{$data.price}" placeholder="多少积分可以下载应用"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-md-8 col-sm-10">
                        <if condition="$data.id neq 0">
                            <button type="submit" class="btn btn-primary">提交</button>
                        <else />
                            <button type="submit" class="btn btn-primary">下一步</button>
                        </if>
                            <button onclick="history.go(-1);" class="btn btn-default">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script>
        $("#upload_picture_icon").uploadify({
            "height": 30,
            "swf": "__STATIC__/uploadify/uploadify.swf",
            "fileObjName": "download",
            "buttonText": "上传图标",
            "buttonClass": "upload_btn",
            "uploader": "{:U('Home/File/uploadPicture',array('session_id'=>session_id()))}",
            "width": 120,
            'removeTimeout': 1,
            'fileTypeExts': '*.jpg; *.png; *.gif;',
            "onUploadSuccess": uploadPicturecover,
            'overrideEvents': ['onUploadProgress', 'onUploadComplete', 'onUploadStart', 'onSelect'],
            'onFallback': function () {
                alert('未检测到兼容版本的Flash.');
            }, 'onUploadProgress': function (file, bytesUploaded, bytesTotal, totalBytesUploaded, totalBytesTotal) {
                $("#cover_id_cover").parent().find('.upload-img-box').html(totalBytesUploaded + ' bytes uploaded of ' + totalBytesTotal + ' bytes.');
            }, 'onUploadComplete': function (file) {
                //alert('The file ' + file.name + ' finished processing.');
            }, 'onUploadStart': function (file) {
                //alert('Starting to upload ' + file.name);
            }, 'onQueueComplete': function (queueData) {
                // alert(queueData.uploadsSuccessful + ' files were successfully uploaded.');
            }
        });
        function uploadPicturecover(file, data) {
            var data = $.parseJSON(data);
            var src = '';
            if (data.status) {
                $("#icon_file_id").val(data.id);
                src = data.url || data.path
                $('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                );
            } else {
                toast.error('图标上传失败。', '温馨提示');
            }
        }

        $(document)
                    .ajaxStart(function () {
                        $("button:submit").addClass("log-in").attr("disabled", true);
                    })
                    .ajaxStop(function () {
                        $("button:submit").removeClass("log-in").attr("disabled", false);
                    });
            $("form").submit(function () {
                toast.showLoading();
                var self = $(this);
                $.post(self.attr("action"), self.serialize(), success, "json");
                return false;

                function success(data) {
                    if (data.status) {
                        toast.success(data.info, '温馨提示');
                        setTimeout(function () {
                            window.location.href = data.url
                        }, 1000);
                    } else {
                        toast.error(data.info+'发生错误', '温馨提示');
                    }
                    toast.hideLoading();
                }
            });

    </script>
    <link href="__PUBLIC__/css/form_check.css" rel="stylesheet" type="text/css">
    <script src='__PUBLIC__/js/form_check.js'></script>
</block>