<extend name="public/devcenter"/>
<block name="body">
    <div class="row">
        <div class="col-xs-12">
            <div class="expand_info_box">
                    <div class="img text-center">
                        <img alt="{$data.title|text}" src="{$expand.icon|getThumbImageById=200,200}">
                    </div>
                    <div class="con text-center">
                        <h2 class="text-ellipsis">{$expand.title}</h2>
                        <p class="text-ellipsis">{$expand.description|msubstr=0,200,'utf-8',false}...</p>
                    </div>

                <div class="doinfo">
                    <div class="text-center">
                        <div class="price">积分：{$expand.price}</div>
                    </div>
                    <div class="text-center">
                                <a href="{:U('Dev/edit',array('id'=>$expand['id']))}">编辑</a> |
                                <a href="{:U('index/info',array('id'=>$expand['id']))}" target="_blank">详情</a> 
                    </div>
                </div>
            </div>
            <h2>版本列表</h2>
            <div class="version_list_box">
            <empty name="list">
                <div class="empty_box">
                    还没发布任何版本
                </div>
            </empty>
            <volist name="list" id="data">
                <div class="version_box clearfix" id="version_{$data['id']}">
                    <div class="col-md-3">版本：{$data.version}</div>
                    <div class="col-md-3">更新日志</div>
                    <div class="col-md-3">更新日期：{$data.update_time|date='Y/m/d H:i',###}</div>
                    <div class="col-md-3">
                        <div class="btn-group">
                            <a class="btn audit_status">{$data.audit_status}</a>
                            <a 
                            class="btn btn-info" 
                            href="{:U('Dev/editVersion',array('id'=>$data['id'],'expand_id'=>$data['expand_id']))}" 
                            >
                                    编辑
                            </a>
                            <button class="btn btn-danger delVersion" data-id="{$data['id']}" data-url="">删除</button>
                        </div>
                    </div>
                </div>
            </volist>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="text-right">
                {:getPagination($totalCount,20)}
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $('.delVersion').each(function(){
            $(this).click(function(){
                if(confirm("该操作不可逆，是否确认？")){
                    var id = $(this).attr('data-id');
                    var query={
                        id:id
                    };
                    query['id']=id;
                    var url="{:U('Dev/delVersion')}";
                    $.post(url,query,function(msg){
                        if(msg.status){
                            toast.success(msg.info);
                            $('#version_'+id).remove();
                            if($('.version_box').length==0){
                                $('.version_list_box').html(
                                    '<div class="empty_box">还没发布任何版本</div>'
                                )
                            }
                        }else{
                            handleAjax(msg);
                        }
                    },'json');
                }
            });
        })
    })
    </script>
</block>
