<extend name="Public/common"/>
<block name="style">
    <link href="__CSS__/pingpay.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">
    <div class="common_box">
        <div class="table-responsive">
            <table class="table table-borderless">
            <thead>
              <tr>
                <th>#</th>
                <th>充值类型</th>
                <th>商户订单号</th>
                <th>金额</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <volist name="data" id="data">
                <tr>
                <td>{$data.created|date='Y/m/d H:i',###}</td>
                <td>{$data.subject}</td>
                <td>{$data.order_no}</td>
                <td>￥ {$data.amount}</td>
                <td>
                    <if condition="$data.paid eq 0">
                    未支付
                    <else />
                    已付款
                    </if>
                </td>
                <td>
                    <if condition="$data.paid eq 0">
                    <a class="btn btn-sm btn-info" href="{:U('Pingpay/index/pubpingpay',array('app'=>'Pingpay','table'=>'PingpayOrder','order_no'=>$data['order_no'],'result_url'=>$result_url))}" >立即支付</a>
                    <else />
                    <a href="{:U('Pingpay/order/detail',array('id'=>$data['id']))}">订单详情</a>
                    </if>
                </td>
              </tr>
              </volist>
            </table>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="text-right">
            {:getPagination($totalCount,20)}
        </div>
    </div>
</block>











