<extend name="Public/forum"/>
<block name="body">

        <h4>
            {:L('_COMMENT_EDIT_')}
        </h4>
        <hr/>
        <section id="contents">
            <form action="{:U('Forum/Index/doReplyEdit')}" method="post" id="edit-article-form" class="ajax-form">
                <input type="hidden" name="reply_id" value="{$reply.id}"/>
                <p>
                    <php>
                        $config="toolbars:[['source','|','bold','italic','underline','fontsize','forecolor','justifyleft','fontfamily','|','map','emotion','insertimage','insertcode']]";
                    </php>
                    {:W('Common/Ueditor/editor',array('myeditor','content',$reply['content'],'100%','250px',$config))}
                </p>
                <p>&nbsp;</p>
                <p class="pull-right">
                    <button type="submit" class="btn btn-large btn-primary" id="submit-button">
                        <span class="glyphicon glyphicon-edit"></span>
                        {:L('_COMMENT_EDIT_')}
                    </button>
                </p>
            </form>
        </section>

</block>
