<extend name="Public/common"/>
<block name="style">
<link rel="stylesheet" href="__CSS__/public.css">
</block>
<block name="body">
<div id="main-container" class="container">
        <notempty name="list">
            <volist name="list" id="data">
                <div class="col-md-3">
                    <div class="product_list_box">
                    <a href="{:U('Wshop/index/product',array('id'=>$data['id']))}" target="_blank">
                        <div class="img">
                            <img alt="{$data.title|text}" src="{$data.main_img|getThumbImageById=475,475}" class="img-responsive">
                        </div>
                        <div class="con">
                            <h4>{$data.title}</h4>
                        </div>
                    </a>
                    <div class="doinfo clearfix">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="price">价格：{$data.price}</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </volist>
            <else/>
            <div style="font-size:1em;padding:2em 0;color: #ccc;text-align: center">该类型下没有内容~</div>
        </notempty>
</div>
</block>