<extend name="Public/common"/>
<block name="style">
    <link type="text/css" rel="stylesheet" href="__CSS__/public.css"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/index.css"/>
    <link type="text/css" rel="stylesheet" href="__CSS__/product.css"/>
</block>
<block name="body">
    <div class="wshop_topmain">
        <div class="container">
            <div class="wshop_index_topmain">
                
                <div class="wshop_main_nav">
                    <nav class="">
                      <div class="container-fluid">
                        <ul class="nav navbar-nav">
                          <li id="main-cats"><a href="javascript::void(0)">全部分类</a></li>
                          <li><a href="your/nice/url/2">优惠卷</a></li>
                        </ul>
                        <ul class="cart_btn nav navbar-nav navbar-right">
                            <li data-type="cart_count" data-url="/wshop/cart/count">
                            <img src="__COMMON__/cart2-2.png" /><a href="{:U('Wshop/Cart/index')}">购物车 <span class="label label-danger cart_count">0</span></a> 
                            </li>
                        </ul>
                        </div>
                        <!--分类导航-->
                        <div class="wshop_cats_box hidden">
                            <include file="Public/_cats"/>
                        </div>
                    </nav>
                    
                </div>  
            </div>
        </div>
        <div class="pic">
            {:W('Common/Adv/render',array(array('name'=>'slider','type'=>2,'width'=>'100%','height'=>'auto','margin'=>'0 0 15px 0','title'=>'首页轮播图','data'=>array('style'=>1))))}
        </div>
    </div>
    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>New products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-container" class="container">
        <div class="col-md-12">
            <div class="common_block_border">

                <div class="common_content_box">
                    <section id="contents">

                        <notempty name="list">
                            <volist name="list" id="data">
                                <div class="col-md-3">
                                    <div class="product_list_box">
                                    <a href="{:U('Wshop/index/product',array('id'=>$data['id']))}" target="_blank">
                                        <div class="img">
                                            <img alt="{$data.title|text}" src="{$data.main_img|getThumbImageById=475,475}" class="img-responsive">
                                        </div>
                                        <div class="con">
                                            <h4>{$data.title}</h4>
                                        </div>
                                    </a>
                                    <div class="doinfo clearfix">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="price">价格：{$data.price}</div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </volist>
                            <else/>
                            <div style="font-size:1em;padding:2em 0;color: #ccc;text-align: center">该类型下没有内容~</div>
                        </notempty>
                    </section>

                    <div class="text-center">
                        {:getPagination($totalCount,20)}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="common_block_border">
            <!--侧栏菜单-->
                <include file="Public/_nav"/>
            </div>
        </div>
    </div>
</block>
<block name="script">
<script>
    +(function($){
        //商品分类导航事件
        $('#main-cats').mouseover(function(){
            $('.wshop_cats_box').removeClass('hidden');
        });

        $('#main-cats').mouseout(function(){
            //setTimeout(function(){
                $('.wshop_cats_box').addClass('hidden');
            //},500)
        });

        $('.wshop_cats_box').mouseover(function(){
            $(this).removeClass('hidden');
        });

        $('.wshop_cats_box').mouseout(function(){
            $(this).addClass('hidden');
        });
    })(jQuery);

+(function($){
    //购物车产品数
    var url = $('[data-type="cart_count"]').data('url');
    $.get(url,'',function(ret){
        if(ret.status == 1){
            $('[data-type="cart_count"] .cart_count').text(ret.data)
        }
    });
})(jQuery);

</script>

</block>