<extend name="Public/common"/>
<block name="style">
    <link rel="stylesheet" href="__CSS__/product.css">
    <link rel="stylesheet" href="__CSS__/swiper.css">
    <link rel="stylesheet" href="__CSS__/count_box.css">
    <link rel="stylesheet" href="__Theme__/swiper/swiper.min.css">
</block>
<block name="body">
<div id="main-container" class="container">
<div class="product-intro">
    <div class="clearfix">
    <div class="col-md-5">
        <nav>
        <div class="nav-swiper-container">
            <div class="swiper-wrapper">
                <php>
                if(!empty($product['images'])){
                    $product['images'] = explode(',',$product['images']);
                    foreach($product['images'] as $img){
                </php>
                    <div class="swiper-slide"><img class="slide-img detail-nav-scale" src="<php> echo pic($img) </php>"></div>
                <php>
                    }
                }else{
                </php>
                    <div class="swiper-slide"><img class="slide-img detail-nav-scale" src="<php> echo pic($product['main_img']) </php>"></div>
                <php>
                }
                </php>
            </div>
            <div class="swiper-count-box">
                <span class="active-index-num">1</span> / <span class="all-index-num">1</span>
            </div>
        </div>
        <div class="section-pic-tips-group">
            <php>
            $count = 0;
            $status = explode(',',$product['info']);
            array_walk($status,
            function ($a)
            {
            switch($a){
            case 6:
            echo '<p class="section-pic-tips" style="background: #fc7539;">热销</p>';
            break;
            case 7:
            echo '<p class="section-pic-tips" style="background: #7fbf23;">推荐</p>';
            break;
            }
            });
            </php>
        </div>
        </nav>
        </div>
        <div class="col-md-7">
            <div class="product-desc-main">
            <h3 class="title-section" data-type="title" data-id="{$product.id}">{$product['title']}</h3>
            <p>{$product['description']}</p>
            <section class="price-section">
                <span class="now-price price">
                    ￥{$product.price}
                </span>
                <span class="ori-price price" style="text-decoration: line-through">
                    ￥{$product.ori_price}
                </span>

            </section>
            <php>
            /*有规格，在规格里选择数量*/
            if(!empty($product['sku_table'])){
            </php>
                <section class="sku-content" data-id="{$product.id}">
                    <php>
                    foreach($product['sku_table']['table'] as $in => $table){
                    </php>
                        <dl class="sku-box clearfix">
                            <dt><php> echo $in </php></dt>
                            <dd>
                            <ul data-sku="<php> echo $in </php>">
                                <php>foreach($table as $t){</php>
                                    <li class="" data-table="<php> echo $in </php>" data-value="<php> echo $t </php>"><php> echo $t </php><i></i></li>
                                <php>}</php>
                            </ul>
                            </dd>
                        </dl>
                    <php>
                    }
                    </php>
                    <input type="hidden" >
                </section>
            <php>}</php>

            <section class="count-content">

                <div class="sku-type count-box clearfix">
                    <button class="count-btn cut-btn big-text border-box">-</button>
                    <input class="count-input border-box" type="text" value="1" readonly>
                    <button class="count-btn add-btn big-text border-box">+</button>
                </div>

                <section class="linear-section vertical-box linear-noinput">
                    <div class="quantity">剩余库存：(<span>{$product['quantity']}</span>)</div>
                </section>

            </section>

            <php>if(!empty($product['extra_info'])){</php>
                <section class="info-section linear-section vertical-box linear-noinput">
                    <span class="linear-title vertical-box">产品参数</span>
                <span class="linear-right vertical-box">
                    <span>
                        <img class="info-icon" src="__IMG__/go.png">
                    </span>
                </span>
                </section>
                <div class="info-content last-liner-section" style="display: none;">
                    <php>
                    foreach($product['extra_info'] as $info){
                    </php>
                        <p>
                            <span class="info-ukey"><php> echo $info['ukey'] </php></span>：
                            <span class="info-data"><php> echo $info['data'] </php></span>
                        </p>
                    <php>
                    }
                    </php>
                </div>
            <php>}</php>

            <section class="">
                <div class="">
                    <php>if($product['quantity']==0){</php>
                        <button class="color-disable">已经卖光啦</button>
                    <php>
                    }else{
                    </php>
                        <button class="addCartNow sku-data btn btn-warning">加入购物车</button>
                        <button class="buyImmediately sku-data btn btn-warning">立即购买</button>
                    <php>}</php>

                </div>
            </section>
            </div>
        </div>
    </div>
</div>

<div class="product-info-main">
     <section class="linear-section last-liner-section vertical-box linear-noinput" <php>
        if($product['comment_cnt']!='0') echo 'onclick="window.location.href=\''.U('wshop/index/commentlist').'&product_id='.$product['id'].'\'"'; </php> >
        <span class="linear-title vertical-box">宝贝评价（<php> echo $product['comment_cnt'] </php>）</span>
        <span class="linear-right vertical-box"><span>
            <span class="tips-font">全部</span><img src="__IMG__/go.png">
        </span></span>
    </section>

    <div class="ETab" id="detail">
        <div class="tab-main clearfix" data-fixed="pro-detail-hd-fixed">
            <ul>
                <li data-tab="trigger" data-anchor="#detail" class="" clstag="shangpin|keycount|product|shangpinjieshao_1">商品介绍</li>
                <li data-tab="trigger" data-anchor="#detail" clstag="shangpin|keycount|product|pcanshutab" class="">规格与包装</li>
                <li data-tab="trigger" data-anchor="#detail" clstag="shangpin|keycount|product|ershouzhijian" style="display:none">质检报告</li>
                <li data-tab="trigger" data-anchor="#detail" clstag="shangpin|keycount|product|psaleservice" class="">售后保障</li>
                <li data-tab="trigger" data-offset="38" data-anchor="#comment" clstag="shangpin|keycount|product|shangpinpingjia_1" class="current">商品评价<s>(5300+)</s></li>
            </ul>
        </div>
    </div>
    <article class="detail-margin">
        <div class="detail-box">
            
            <section class="detail-section ">
                <div class="html-box">
                    <php> echo $product['content'] </php>
                </div>
            </section>
        </div>
    </article>

    <div class="detail-shadow"></div>
</div>
    
</div>
<script src="__Theme__/swiper/swiper.min.js"></script>
<script src="__COMMON__/sku/sku.js"></script>
<script>
    
$(function(){
        var mySwiper = new Swiper('.nav-swiper-container', {
        //loop:true,
        autoplay: 3000,
        onInit: function (swiper) {
            if(swiper.loopedSlides){
                $(".active-index-num").text(1);
                $('.all-index-num').text(swiper.wrapper[0].childElementCount-2);
            }
            else $('.all-index-num').text(swiper.wrapper[0].childElementCount);
        },
        onSlideChangeStart: function (swiper) {
            var all = swiper.wrapper[0].childElementCount-2;//todo:总数获取的方法可能有问题
            if(swiper.loopedSlides){
                var active = $(".active-index-num");
                if(swiper.isEnd){
                    active.text(1);     //console.log("最后");
                }
                else if(swiper.isBeginning){
                    active.text(all);   //console.log("第一个");
                }
                else{
                    active.text(swiper.activeIndex);
                }
            }
            else $(".active-index-num").text(swiper.activeIndex+1)
        }
        });
});
var product_sku = {$product_sku};
$(function(){
    $('.sku-content').Muusku({
        sku_data:product_sku
    });
});

$(function(){
    /*
    直接购买订单
    */
    $('.buyImmediately').click(function () {
        /*数量*/
        var product_id = $('[data-type="title"]').data('id');
        var quantity = $('.count-input').val();
        quantity = (isNaN(quantity))?1:quantity;
        /*规格*/
        if(product_sku){
            var sku_index = $('.sku-content').find('input').val();
            if(sku_index){
                //console.log('sku-ready',sku_index);
                window.location.href='{:U("wshop/order/makeorder")}'+'&id='+product_id+'&quantity='+quantity+'&sku='+sku_index;
            }else{
                alert('请选择商品规格');
            }
        }else{
            window.location.href='{:U("wshop/order/makeorder")}'+'&id='+product_id+'&quantity='+quantity;
        } 
    });
})

$(function(){
    /*
    加入购物车
     */
    $('.addCartNow').click(function () {
        /*数量*/
        var quantity = $('.count-input').val();
        quantity = (isNaN(quantity))?1:quantity;
        var sku_uid = $('[data-type="title"]').data('id');
        /*规格*/
        if(product_sku){
            var sku_index = $('.sku-content').find('input').val();
            if(sku_index){
                sku_uid += ';'+sku_index;
            }else{
                alert('请选择商品规格');
                return;
            }
        }
        var data = {
            sku_id:sku_uid,
            quantity:quantity
        };
        $.post('{:U("wshop/cart/add_to_cart")}',data, function (ret) {
            if(ret.status==1){
                toast.success(ret.info, '温馨提示');
            }
            else{
                toast.error(ret.info, '温馨提示');
            }
        })
    });
})

//商品购买数量
$(function(){
    var cutBtn = $('.count-content .cut-btn');
    var addBtn = $('.count-content .add-btn');
    var countInput = $('.count-content .count-input');
    cutBtn.click(function(){
        if(countInput.val()<=1)return;
        countInput.val(parseInt(countInput.val())-1);
    });
    addBtn.click(function(){
        var quantity =parseInt($('.quantity span').text());
        if(countInput.val()>=quantity)return;
        countInput.val(parseInt(countInput.val())+1);
    });
})
</script>
</block>