<!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
<script src="__PUBLIC__/zui/js/zui.min.js"></script>
<script src="__PUBLIC__/js/com/com.functions.js"></script>
<script src="__PUBLIC__/js/core.js"></script>
<script src="__PUBLIC__/js/com/com.toast.class.js"></script>
<script src="__PUBLIC__/js/com/com.ucard.js"></script>
<script src="__PUBLIC__/js/ext/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/js/ext/qtip/jquery.qtip.min.js"></script>
<script src="__PUBLIC__/js/ext/placeholder/placeholder.js"></script>
<script src="__PUBLIC__/js/ext/atwho/atwho.js"></script>
<script src="__PUBLIC__/js/ext/lazyload/lazyload.js"></script>
